/*FileName: nav.scss */

h1{
    padding-right: 235px;
}

h4 {
    color: black;
   
}

nav {
    min-height: 10vh;
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 20px;
    button {
        background: transparent;
        border: none;
        border-radius: 25%;
        cursor: pointer;
        font-size: 16px;
        margin-left: 20%;
        border: 1px solid rgb(41, 216, 25);
        padding: 0.8rem;
        transition: all 0.3s ease;
        &:hover {
            background: green;
            color: white;
        }
    }
}
@media screen and (max-width: 768px) {
    nav {
        button {
            z-index: 10;
        }
    }
}
